.App {
  text-align: center;
  margin-top: 40px;
}

.input-container {
  margin-bottom: 20px;
}

input {
  margin-right: 10px;
}

ul {
  list-style-type: none;
}

li {
  cursor: pointer;
}

li s {
  text-decoration: line-through;
  color:red
}
